<!DOCTYPE html>
<html lang="en">
  <body>
    <!-- Navigation-->
    <%-include('layouts/header')-%> <%-include('layouts/nav')-%>
    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url('/assets/img/about-bg.jpg')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading">This is what I do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <p>
              Hello! I'm Rukesh Shrestha, a passionate and dedicated Academic
              Tutor and the Developer. With 3.5 of experience in the field, I
              bring a strong set of skills and expertise to every project I
              undertake.
            </p>
            <p>
              My journey in Academic Tutor began with a solid educational
              foundation, where I obtained my undergraduate degree from Herald
              College Kathmandu affiliated to the University of wolverhampton.
              Since then, I have had the privilege of working with Worldlink
              Communication Limited, Kalash Services, and Herald College honing
              my skills in academic and software development.
            </p>
            <p>
              Throughout my career, I have successfully completed a range of
              projects that have allowed me to demonstrate my proficiency in
              different programming languages. Whether it's python django,
              javascript, or java and software testing, I am committed to
              delivering high-quality results that exceed expectations.
            </p>
            <p>
              Thank you for taking the time to learn more about me. I'm excited
              about the possibility of collaborating on future projects and
              leveraging my skills to help different organizations achieve their
              goals.
            </p>
            <p>
              Feel free to reach out to me at rukesh.shrestha11@gmail.com or
              navigate to the <a href="/contact"> <b>contage page</b></a> to
              send a message to discuss how we can work together."
            </p>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer-->
    <%-include('layouts/footer')-%>
    <!-- Bootstrap core JS-->
    <%-include('layouts/scripts')-%>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  </body>
</html>
