<!DOCTYPE html>
<html lang="en">
  <body>
    <!-- Navigation-->
    <%-include('layouts/header')-%> <%-include('layouts/nav')-%>
    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url('assets/img/contact-bg.jpg')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
              <h1>Create the Blog</h1>
              <span class="subheading">Let's Start</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form
            action="/posts/store"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Title"
                  id="title"
                  name="title"
                  autofocus
                />
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Description</label>
                <textarea
                  rows="5"
                  class="form-control"
                  
                  placeholder="Write your subheading"
                  name="subheading"
                ></textarea>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Description</label>
                <textarea
                  rows="5"
                  class="form-control"
                  id="body"
                  placeholder="Write your description"
                  name="description"
                ></textarea>
              </div>
            </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Image</label>
                  <input
                    type="file"
                    class="form-control"
                    id="image"
                    name="image"
                  />
                </div>
              </div>
            </div>
            <br />
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-primary"
                id="sendMessageButton"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Footer-->
    <%-include('layouts/footer')-%>
    <!-- Bootstrap core JS-->
    <%-include('layouts/scripts')-%>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <script>
      $("#body").summernote({
        placeholder: "Hello bootstrap 4",
        tabsize: 2,
        height: 200,
      });
    </script>
  </body>
</html>
