<!DOCTYPE html>
<html lang="en">
  <body>
    <!-- Navigation-->
    <%-include('layouts/header')-%> <%-include('layouts/nav')-%>
    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url('/assets/img/404-error-page-not-found.jpg')"
    >
      <div class="container position-relative px-4 px-lg-5 h-75">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
              <h1>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1>
              <span class="subheading">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span
              >
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->

    <!-- Main Content -->

    <!-- Footer-->
    <%-include('layouts/footer')-%>
    <!-- Bootstrap core JS-->
    <%-include('layouts/scripts')-%>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </body>
</html>
