#logo {
  font-family: "Nunito", "Helvetica", "Arial", sans-serif;
  font-size: 25px;
}

#logo {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
}

#logo::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: black;
  transform: scaleX(0.6) skewX(-30deg);
  transform-origin: bottom left;
}

#logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  top: -3px;
  width: 100%;
  height: 3px;
  background-color: black;
  transform: scaleX(0.6) skewX(-30deg);
  transform-origin: top right;
}

@media only screen and (max-width: 992px) {
  #logo {
    color: black;
  }
}
